<header>
  <h1>Tu Carrito de Compras</h1>
  <div class="cart-info">
    <p>Cantidad de productos: {{cart.totalQuantity}}</p>
    <p>Precio total: ${{cart.totalPrice}}</p>
  </div>
</header>

<main>
  <h2>Productos en el Carrito</h2>
  <ul>
    {{#each cart.products}}
    <li>
      <strong>{{this.product.title}}</strong> - ${{this.product.price}} 
      <span>Cantidad: {{this.quantity}}</span>
    </li>
    {{else}}
    <li>No hay productos en el carrito.</li>
    {{/each}}
  </ul>
  <a href="/api/carts/{{cart._id}}/purchase"><button>Proceder a la compra</button></a>
</main>
